<div id="users-new">
  <div id="signup" class="sign">
    <h3>yourChallenger</h3>
    <%= form_tag({ controller: "users", action: "create"}, method: "post") do %>
        <div class="form">
            <div class="form-row">
              <%= email_field :user,:email, :placeholder => "Email", :value=> @user.email %>
            </div>
            <div class="form-row">
              <%= password_field :user,:password, :placeholder => "Password", :value=> @user.password %>
            </div>
            <div class="form-row">
              <%= password_field :user,:password_confirmation, :placeholder => "Password Confirmation", :value=> @user.password_confirmation %>
            </div>
         </div>
        <%= submit_tag "Sign Up",:class=>"sign-button" %>
     <% end %>
  </div>
<div>
